/config/sharding/default.php
**/cron/pid/**
**/daemons/pid/**
web/bootstrap-3.3.6/**
.htpasswd
backup/**
web/pma/**
web/s.js
web/stat.js
config/backup/backup.php
config/sharding/list.php
web/orders/
orders/*
config/backup/
trash/
web/ad/
web/pixel.min.js
web/plugin/context.min.js
web/plugin/[0-9]*.js
config/ripe/
vendor/*
